{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'stories.css' %}">
  <title>IT 101 Web Front End</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
 <body>
  <header class="custom-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-2">
          <img src="https://www.logolynx.com/images/logolynx/14/14e0745f1fdb1ef0820df3cd3d335ccb.png" alt="Logo" class="logo">
          </div>
          <div class="header-content">
            <div class="header-text">
              Ceneral Conference of the Seventh day Adventists
            </div>
            <div class="additional-info">
               Southern Asia-Pacific Division
              </div>
            <div class="additional-info">
              Southwestern Philippine Union Conference
            </div>
            <div class="additional-info">
                <h1><strong>NEMM Adventists</strong></h1> 
               
              </div>
          </div>
        </div>
      </div>
   </header>

<!--Bootstrap Navbar with Sub-dropdowns-->
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Custom CSS -->

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/ ">HOME<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        DEVOTIONALS
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
        <li><a class="dropdown-item" href="#">Doug Bachelor</a></li>
        <hr class="dropdown-divider">
        <li><a class="dropdown-item" href="/accounts/devotional">Other Devotionals</a></li>
        <hr class="dropdown-divider">
        <li><a class="dropdown-item" href="#">Sermons</a></li>
       
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        INFORMATION
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
        <li><a class="dropdown-item" href="#">About</a></li>
        <hr class="dropdown-divider">
        <li><a class="dropdown-item" href="#">Administration</a></li>
        <hr class="dropdown-divider">
        <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="#">Churches</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">A</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="/accounts/church/">B</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">C</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">D-G</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">H-K</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">M</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">N-O</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">P-R</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">S</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">T-Z</a></li>
          </ul>
        </li>
        <hr class="dropdown-divider">
        <li><a class="dropdown-item" href="#">Contact Us</a></li>
        <hr class="dropdown-divider">
        <li><a class="dropdown-item" href="#">Office Administrators</a></li>
        <hr class="dropdown-divider">
        <li><a class="dropdown-item" href="#">Hope Radio Philippines</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        NEWS AND FEATURES
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
        <li><a class="dropdown-item" href="#">Latest Updates</a></li>
        <hr class="dropdown-divider">
        <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="#">Departmental Stories</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">ADRA</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Adventist Media Caraga</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Adventist Rescue 13</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Adventist Single Professionals</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Books</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Communication</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">DXIM</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Education</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Evangelism</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Family</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Family Life Ministries</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Featured Story</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Free Clinic</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">GC Session</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Gospel Outreach Ministry</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Health</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Hope</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Hope Radio</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">IEL</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Jabonga SDA Church</a></li>
          </ul>
        </li>
        
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        RESOURCES
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
        <li><a class="dropdown-item" href="#">Downloads</a></li>
        <hr class="dropdown-divider">
        <li><a class="dropdown-item" href="#">Report Forms</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/accounts/feedback/">FEEDBACK</a>
    </li>
  </ul>
</div>
<!-- for drop down ext functionality-->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
-->

</nav>

  
  <section>
    <section class="py-5 sectional ">
      <!--fro film box-->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">  
      <div class="film-box">
        <div class="containerrrr">
            <img src="http://www.nemmadventist.org/wp-content/uploads/2020/09/team-amc-768x511.png" alt="Your Image" class="left-image">
            <div class="content">
               <h3>NEMM launches Adventist Media Caraga</h3>  
               <p>
                The pandemic has closed the doors of our churches.  The implementation of the Enhanced Community Quarantine affects the church services, 
                the public evangelism campaign, and the training of making disciples.  People turned to Hope Radio Philippines – Butuan and the Hope 
                Chanel South Philippines for worship.
              </p> 
              <button class="click2"><a href="acc.html"><h6><strong>Read More</strong></h6></a></button>        
            </div>
        </div>
     
          
  <!--Section-->
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> 
  </section>
      
      <!-- Bootstrap JS for Navbar(optional) -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <title>Golden Yellow Bootstrap Footer</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<footer>
  <footer class="footer">
    <div class="container text-center">
      <span>Northeastern Mindanao Mission | KM.3 Baan Highway, Butuan City | (85) 341-5181</span>
    
    </div>   
</footer>
</body>
</html>





